body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:darkslategray;

}


h1
{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}

div
{
    outline:5px solid black;
}

#chartContainer9 , #chartContainer10 , #chartContainer11
{
    background-color: #fff;
}

